/* Typewriting Effect */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  /* Blinking Cursor */
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }





